services:
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: ai_tools
      MYSQL_ROOT_PASSWORD: Om7771913285
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-pOm7771913285"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 30s

  web:
    build: .
    container_name: django_app
    command: sh -c "while ! nc -z db 3306; do sleep 1; done; python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    depends_on:
      db:
        condition: service_healthy 
    environment:
      DB_HOST: db
    ports:
      - "8000:8000"
    volumes:
      - .:/app


volumes:
  mysql_data: